[Unit]
Description=Pixelbook backlight driver
Before=multi-user.target
ConditionPathExists=/sys/class/backlight/%i
Conflicts=sleep.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/pbbacklightfs /sys/class/backlight/%i/

[Install]
WantedBy=multi-user.target
