[Unit]
Description=Pixelbook backlight driver
Before=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/pbbacklight
Restart=always

[Install]
WantedBy=multi-user.target
