[Unit]
Description=Restart pixelbook backlight driver after sleep
After=sleep.target
PartOf=sleep.target
ConditionPathExists=/sys/class/backlight/%i

[Service]
Type=oneshot
ExecStop=/usr/bin/env systemctl --no-block restart pbbacklightfs@%i.service
RemainAfterExit=true

[Install]
WantedBy=sleep.target
