[Unit]
Description=Pixelbook backlight driver
ConditionPathExists=/sys/class/drm_dp_aux_dev

[Service]
Type=simple
ExecStart=/usr/local/sbin/pbbacklight
Restart=always

[Install]
WantedBy=multi-user.target
